apiVersion: v1
kind: ConfigMap
metadata:
  name: zigbee2mqtt-config
  namespace: homeassistant
  labels:
    app: z2m
data:
  configuration.yaml: |-
    permit_join: true
    homeassistant: true
    mqtt:
      base_topic: zigbee2mqtt
      server: "mqtt:/z2m-service.homeassistant"
    serial:
      port: 'tcp://172.16.23.19:8888'
      adapter: ezsp
    frontend:
      port: 8080
    advanced:
      log_level: debug
      log_output:
      - console
      - file
    devices: /data/devices.yaml
    groups: /data/groups.yaml
